@tailwind base;
@tailwind components;
@tailwind utilities;
/* @font-face {
  font-family: "Gilroy-Regular";
  src: url("/fonts/Gilroy-Black.ttf") format("truetype"); 
  /* src: url("/fonts/Gilroy-Bold.ttf") format("truetype"); 
  src: url("/fonts/Gilroy-ExtraBold.ttf") format("truetype"); 
  src: url("/fonts/Gilroy-Heavy.ttf") format("truetype"); 
  src: url("/fonts/Gilroy-Medium.ttf") format("truetype"); 
  src: url("/fonts/Gilroy-Regular.ttf") format("truetype"); 
  src: url("/fonts/Gilroy-Semibold.ttf") format("truetype"); 
  src: url("/fonts/Gilroy-Thin.ttf") format("truetype"); 
} */
@font-face {
  font-family: "Gilroy";

  src: url("/fonts/GilroyRegular.eot");
  src: url("/fonts/GilroyRegular.eot") format("embedded-opentype"),
    url("/fonts/GilroyRegular.woff2") format("woff2"),
    url("/fonts/GilroyRegular.woff") format("woff"),
    url("/fonts/GilroyRegular.ttf") format("truetype"),
    url("/fonts/GilroyRegular.svg#GilroyRegular") format("svg");

  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("/fonts/GilroyBold.eot");
  src: url("/fonts/GilroyBold.eot") format("embedded-opentype"),
    url("/fonts/GilroyBold.woff2") format("woff2"),
    url("/fonts/GilroyBold.woff") format("woff"),
    url("/fonts/GilroyBold.ttf") format("truetype"),
    url("/fonts/GilroyBold.svg#GilroyBold") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/GilroyExtrabold.eot");
  src: url("/fonts/GilroyExtrabold.eot") format("embedded-opentype"),
    url("/fonts/GilroyExtrabold.woff2") format("woff2"),
    url("/fonts/GilroyExtrabold.woff") format("woff"),
    url("/fonts/GilroyExtrabold.ttf") format("truetype"),
    url("/fonts/GilroyExtrabold.svg#GilroyExtrabold") format("svg");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("/fonts/GilroyBlack.eot");
  src: url("/fonts/GilroyBlack.eot") format("embedded-opentype"),
    url("/fonts/GilroyBlack.woff2") format("woff2"),
    url("/fonts/GilroyBlack.woff") format("woff"),
    url("/fonts/GilroyBlack.ttf") format("truetype"),
    url("/fonts/GilroyBlack.svg#GilroyBlack") format("svg");

  font-weight: 700;
  font-style: normal;
}
#__next {
  @apply w-full flex justify-center items-center flex-col;
  overflow-x: hidden;
  scroll-behavior: smooth;

}
#container > * {
  @apply w-full;
}
#text-shadow {
  text-shadow: 1px 1px 15px rgb(0, 0, 0);
}
#radial-header {
  background: radial-gradient(
      47.46% 283.14% at 50% 54.58%,
      rgba(26, 26, 26, 0) 0%,
      rgba(29, 29, 29, 0.86) 100%
    ),
    url(/images/header-bg.webp), #000000;
  background-size: cover;
  background-repeat: no-repeat;
  @apply rounded-lg p-[10px] sm:p-[15px] bg-center sm:bg-cover;
}
#radial {
  background: linear-gradient(-155deg, rgba(0, 0, 0, 0.49), rgba(0, 0, 0, 0.49)),
    radial-gradient(
      50% 234.13% at 50% 50%,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.21) 100%
    );
}
#radial:hover {
  background: linear-gradient(
      124deg,
      rgba(89, 89, 89, 0.438),
      rgba(135, 135, 135, 0.49)
    ),
    radial-gradient(
      50% 234.13% at 50% 50%,
      rgba(176, 176, 176, 0) 0%,
      rgba(240, 240, 240, 0.21) 100%
    );
}
#shadow-down-brown:hover {
  -webkit-box-shadow: 0px 5px 48px -5px rgba(255, 105, 30, 0.6);
  -moz-box-shadow: 0px 5px 48px -5px rgba(255, 105, 30, 0.6);
  box-shadow: 0px 5px 48px -5px rgba(255, 105, 30, 0.6);
}
#shadow-down-green:hover {
  -webkit-box-shadow: 0px 5px 48px -5px rgba(0, 205, 171, 0.6);
  -moz-box-shadow: 0px 5px 48px -5px rgba(0, 205, 171, 0.6);
  box-shadow: 0px 5px 48px -5px rgba(0, 205, 171, 0.6);
}
#shadow-down-white:hover {
  -webkit-box-shadow: 0px 5px 48px -5px rgba(255, 255, 255, 0.6);
  -moz-box-shadow: 0px 5px 48px -5px rgba(255, 255, 255, 0.6);
  box-shadow: 0px 5px 48px -5px rgba(253, 253, 253, 0.6);
}
* {
  font-family: "Gilroy";
  transition: all 0.2s;

}


:focus {
  outline: #000000;
}

h1,
p,
h2,
h3 {
  leading-trim: both;
  text-edge: cap;
}

body {
  background: #121212;
}


input:focus::placeholder,
textarea:focus::placeholder {
  color: #000000;
  opacity: 100%;
}
div:focus-within > p {
  color: white !important;
  opacity: 100% !important;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  background: linear-gradient(left, #ffffff, #ffffff);
  box-shadow: 0 0 1px 1px #ffffff;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: linear-gradient(left, #888888, #818181);
  box-shadow: inset 0 0 1px 1px #808080;
}
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(left, #676767, #b0b0b0);
}

#marque {
  animation: marque 20s linear infinite;

}

/* #marque:hover {
  animation-play-state: paused;
} */

@keyframes marque {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%)
  }
}

#modal {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}